require('gulp-sms')(require('gulp'), [
    {
        type: 'less',
        paths: {
            include: [
                __dirname + '/path/to/css/*.less'
            ],
            exclude: [
                __dirname + '/path/to/css/_*.less'
            ],
            watching: [
                __dirname + '/path/to/css/*.less'
            ]
        },
        dest: {
            type: 'normal',     // 'normal' or 'single-file'
            dir: __dirname + '/path/to/css'
            filename: 'compile.css'
        }
    }
]);
